.DS_Store
.rbenv-gemsets
.rbenv-version
.vagrant
.yardoc
/.idea/
/.bundle
/.env.private
/build
/coverage
/packer_cache
/ssl/private.key
/ssl/public.crt
/_yardoc
/doc/
/rdoc
/test-reports
/packer/*/config.json
